/* BASICO */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
}

[id] {
    scroll-margin-top: 2.8em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    padding: 1rem 10rem 1rem 10rem;
    text-align: center;
    background-color: #000000;
}

/* INICIO */

.inicio {
    display: block;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 200px;
}


h1#titulo {
    margin-top: 150px;
    font-size: 4rem;
    display: inline-block;
}

h3#descripcion {
    display: block;
}

h1#titulo,
h3#descripcion,
p.descripcion {
    margin-left: 50px;
}

p.descripcion {
    font-size: 1.2em;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 1em;
    margin-right: 50px;
}


/* PROYECTOS */

h2#proyectos {
    color: #fff;
    font-size: 38px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.project {
    position: relative;
    margin: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    float: right;
}

.project-image {
    position: relative;
    overflow: hidden;
}

.project-image img {
    display: block;
    width: 100%;
    height: 330px;
    transition: all 0.3s ease-in-out;
}

.project-image:hover img {
    opacity: 0.8;
    filter: brightness(60%);
    transform: scale(1.1);
}

.project-image:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00bcd4;
    opacity: 0.3;
}

.project-button {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 5;
}

.project-image:hover .project-button {
    opacity: 1;
    transform: translateY(-50%);
}

.project-description {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.project-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

h2#proyecto {
    color: #000;
}

#proyectos-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* CONTACTO */


#contacto {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contacto h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

#contacto form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

#contacto label {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

#contacto input,
#contacto textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 25px;
    font-size: 16px;
}

#contacto input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#contacto input[type="submit"]:hover {
    background-color: #555;
}







@media screen and (min-width: 881px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #80A1D4;
        height: 80px;
        padding: 0px 30px 0px 60px;
    }

    .navbar {
        text-decoration: none;
        color: inherit
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #000000;
        font-size: 20px;
    }

    .list {
        list-style: none;
        display: flex;
        gap: 10px;
    }

    nav ul li a {
        color: #000000;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
    }

    #toggler,
    .navbar label {
        display: none;
    }

    input#toggler {
        display: none;
    }

    .menu {
        opacity: 10 !important;
        pointer-events: all !important;
    }
}

@media screen and (max-width: 880px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #80A1D4;
        height: 80px;
        padding: 0px 30px 0px 30px;
    }

    input#toggler {
        display: none;
    }

    .navbar a {
        color: black;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #000000;
        font-size: 20px;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        opacity: 0;
        top: 80px;
        left: 0%;
        padding: 50px;
        text-align: center;
    }


    .menu {
        opacity: 0;
        pointer-events: none;
    }

    .list {
        list-style: none;
        display: flex;
        gap: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        z-index: 100;
    }

    #toggler,
    .navbar label {
        display: block;
    }

    #toggler:checked~.menu {
        opacity: 10;
    }



}